


div.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    background-color: rgba(255,255,255,0.05);
    /*padding-top: 5px;
    padding-bottom: 5px;*/
}
div.infobox div.infobox-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    line-height: 1.75;
    align-items: normal; /*compare baseline, center, flex-start, flex-end with stretch/normal*/

}

div.infobox>div.infobox-row>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.infobox>div.infobox-row>div.infobox-head {
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start;
    text-align: center;
    flex-basis: 16ex;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 0.25em;

    font-weight: bold;
    background-color: rgba(255,255,255,0.05);
}

div.infobox>div.infobox-row>div.infobox-head::after {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-basis: 0.25em;
    flex-shrink: 0;
    flex-grow: 0;

    font-weight: bold;
    color: inherit;
    content: ":";
}

div.infobox>div.infobox-row>div.infobox-spacer {
    display: block;
    background: none;
    flex-basis: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
}

div.infobox>div.infobox-row>div.infobox-tail {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch; /* first-baseline*/
    align-content: flex-start;
    flex-basis: 90%;
    flex-shrink: 2;
    flex-grow: 10;

    font-weight: normal;
}

div.infobox>div.infobox-row:has(>div.infobox-img-wrapper) {
    margin: 1rex;
    background: color-mix(in srgb, var(--fg) 20%, transparent);
    /*backdrop-filter: blur(10px);*/

    &>div.infobox-img-wrapper {
        max-height: 10rex;
        /*margin: 0.5rex auto;*/
        width: auto;
        max-width: 100%;
        height: auto;
        justify-content: center;
        background: none;
        flex-grow: 1;
        flex-shrink: 1;
        &>img.infobox-img {
            background: none;
            height: 100%;
            width: auto;
            flex-shrink: 1;
            flex-grow: 0;
        }
    }
}